//
// Load core variables and mixins
// --------------------------------------------------
body {
  background-color: $body-bg;
}

#navbar {
  margin-bottom: 0;
}

#page-header {
 // margin-bottom: 20px;
 // padding-top: 20px;
//  z-index: 1;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    overflow: visible;
    width: 100%;
    height: 30px;
    background: $body-bg;
    z-index: -1;
    -webkit-transform: skewY(-.5deg);
    -moz-transform: skewY(-.5deg);
    -ms-transform: skewY(-.5deg);
    -o-transform: skewY(-.5deg);
    transform: skewY(-.5deg);
  }

  .page-header {
    border-bottom: none;
  }
}