#order-step-indicator {
  @include clearfix;
  margin-bottom: $margin-base-vertical;

  .order-step {
    width: 20%;
    float: left;
    text-align: center;
    line-height: 1;
    padding-top: $padding-base-vertical;
    padding-bottom: $padding-base-vertical;
    font-size: $font-size-small;
    background-color: $cool-gray-light;
    border: $border;
    border-right: none;
    position: relative;

    &.first {
      border-radius: $border-radius-base 0 0 $border-radius-base;
    }
    &.last {
      border-radius: 0 $border-radius-base $border-radius-base 0;
      border-right: $border;
    }
    @media (max-width: $screen-sm-max) {
      width: 100%;
      margin-bottom: 0;
      border-bottom: none;
      border-right: $border;
      &.first {
        border-radius: $border-radius-base $border-radius-base 0 0;
      }
      &.last {
        border-radius: 0 0 $border-radius-base $border-radius-base;
        border-bottom: $border;
      }
    }
  }
}

$steps: cart, checkout-account-info, checkout-review, checkout-complete;
@each $step in $steps {
  @for $i from 1 through length($steps) {
    @for $j from 1 through $i {
      @if $step == nth($steps, $i) {
        body.page-#{$step} #order-step-indicator {
          .step-#{$j} {
            background-color: $navy;
            border-color: darken($navy, 14%);
            color: $white;

            .checkmark {
              background-size: 15px 17px;
              display: block;
              position: absolute;
              left: 15px;
            }
          }
        }
      }
    }
  }
  body.page-#{$step} {
    #order-step-indicator .order-page-#{$step} {
      background-color: $shn-blue;
      border-color: darken($shn-blue, 14%);
      color: $white;

      .checkmark {
        display: none;
      }
    }
  }
}