// Tabs on login page
body.page-user,
body.page-checkout-account {
  &.not-logged-in .tabs--primary {
    display: none;
  }
}

// Empty content on homepage
body.front #block-system-main {
  display: none;
}


// For the styleguide module
h2.styleguide {
  margin: 3em 0 0 -9em;
  padding: 0;
  text-transform: uppercase;
  background-color: white;
  display: block;
  padding: 10px;
  border-bottom: $border;
  border-left: $border;
}
div.styleguide {
  border-top: none;
}
