#cart-tabs-wrapper {
  // Tabs
  .tabs {
    @include clearfix;
    text-align: center;
    border: $border;
    border-bottom: none;
    background-color: $off-white;

    .add-to-cart-tab {
      padding: 17px 10px;
      cursor: pointer;
      width: 50%;

      &:hover, &:focus { background-color: $gray-lighter; }
      &:active         { background-color: $silver; }

      &.active-tab {
        background-color: $shn-blue-light;
        color: $white;
        cursor: default;
      }
    }
  }

  .panes > div {
    @include container-gray;
    border-top: none;
    position: initial;

    label {
      text-transform: uppercase;
      letter-spacing: $letter-spacing-large;
      font-size: 14px;
    }
    // Inputs
    .form-control {
      max-width: 45%;
    }
    textarea.form-control {
      max-width: 100%;
    }
    .form-required { color: $red; }

    // Total
    #add-to-cart-total,
    #add-to-cart-custom-total {
      border-top: $border-headings;
      margin-top: 8px;
      padding-top: 10px;
      h4 { font-size: 20px; }
      .total-label { text-transform: uppercase; }
      .total-amount { font-weight: $font-weight-normal; }
    }
  }
  // Yellow buttons don't fit into the mixin.
  button.form-submit {
    @include btn-purchase;
  }
}