body.page-node-805 {
  //## Layout Resets for Homepage
  //
  //==
  #navbar { margin-bottom: 0; }
  //** Make homepage go full width
  #main-container {
    padding-top: 0;
    .main-container.container {
      width: 100%;
      padding: 0;
      border: none;
      background-color: $body-bg;

      .col-sm-12 {
        padding: 0;
      }
    }
  }

  //** Center text areas for some of the sections
    #block-boxes-what-we-do-banner,       // What we do.
    #block-boxes-money-homepage-banner {  // Where does your money go.
      // Center the text areas
      > div {
        @include container-bootstrap;
      }
      // box title
      > h2 {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 35px;
      }
    }


  //## Hero section
  //
  //==
  .view-homepage-header {
    position: relative;
    .views-field-field-image {
      img {
        @include img-responsive;
        width: 100%;
      }
    }
    // Call to action text
    .views-field-field-header-text {
      position: absolute;
      bottom: 30%;
      width: 100%;
      color: $white;
      text-align: center;
      font-size: 60px;
      font-weight: $font-weight-bold;

      @media (max-width: $screen-sm-max) {
        font-size: 40px;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 25px;
      }

      .field-content {
        @include text-shadow(0 1px 1px $black);
        padding: 0 25%;
        line-height: 1;
      }
    }
    //** Call to action link.
    .hero-link {
      position: absolute;
      bottom: 20%;
      width: 100%;
      text-align: center;

      a {
        cursor: pointer;
        font-size: 30px;
        padding: 10px 30px 4px;
      }
      @media (max-width: $screen-sm-max) {
        bottom: 10%;
        a { font-size: $font-size-base; }
      }
    }

  }

  //## What we do.
  //
  //==
  #block-boxes-what-we-do-banner {
    background-color: $white;
    padding-bottom: 40px;
    p {
      font-family: $font-family-serif;
      font-size: 20px;
      line-height: 1.6em;
    }
  }


  //## Where does your money go?
  //
  //==
  #block-boxes-money-homepage-banner {
    background-color: $shn-blue-light;
    color: $white;
    margin-bottom: 60px;

    .boxes-box-content {
      // 100% text
      h2 {
        float: left;
        font-size: 150px;
        margin-right: 75px;
        margin-top: -25px;
        // remove float
        @media (max-width: $screen-xs-max) {
          float: none;
          text-align: center;
          margin-right: 0;
        }
      }
      p {
        font-size: 20px;
        margin-top: 20px;
      }
      a {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}


//## Child sponsorships Statistics block
//
//==
#block-views-total-children-block {
  @include container;
  @include container-bootstrap;
  margin-bottom: 40px;

  h2.block-title {
    text-align: center;
    font-family: $font-family-base;
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
    margin: 0;
  }

  .views-row {
    @include make-sm-column(3);
    text-align: center;
    margin-top: 20px;
  }

  .number {
    display: block;
    width: 100%;
    font-size: 80px;
    line-height: 1;
  }
  .text {
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
    // text-align: center;
  }
  .stats-wrapper-total                .number { color: $shn-blue-light; }
  .stats-wrapper-not-sponsored        .number { color: $shn-maroon;     }
  .stats-wrapper-partialy-sponsored   .number { color: $shn-gold;       }
  .stats-wrapper-completely-sponsored .number { color: $shn-lime;       }
}


//## Get Involved
//
//==
#block-shn-custom-shn-custom-home-involved {
  @include container-bootstrap;
}

//** The three blocks
#boxes-box-get_involved_home_a,
#boxes-box-get_involved_home_b,
#boxes-box-get_involved_home_c {
  @include make-sm-column(4);
  text-align: center;
  line-height: 1.8;
  margin-top: 40px;
}

//** Footer image
body.front .region.region-content {
  background-image: url('../images/homepage_body_bg.jpg');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 40%; // Padding adjusts with size of image.
}