// 
// Login Pages
// --------------------------------------------------
// Used for all login, create account, and forgot password pages.

// site/user
body.page-user,
body.page-checkout-account {
  &.not-logged-in {
    #block-system-main {
      @include container;
    }
    #user_login_form_name_wrapper,
    .checkout-account-options {
      @include make-sm-column(6);
    }
    .checkout-account-options {
      margin-top: 75px;
      border-left: $border;
      padding-bottom: 120px;

      @media (max-width: $screen-sm-max) {
        border-left: none;
        // border-top: 1px solid $keyline;
        margin-top: 30px;
        padding-bottom: 20px;
      }
    }

    &.page-user-password #block-system-main,
    &.page-user-register #block-system-main {
      @include make-md-column(6);
      @include make-md-column-offset(3);
    }
  }
}

#block-mmg-custom-mmg-custom-register-block {
  @media (max-width: $screen-sm-max) {
    .password-parent,
    .confirm-parent,
    .password-strength,
    .password-field,
    .password-confirm,
    .password-suggestions { 
      width: 100%;
    }
  }
}

body.page-checkout-account {
  .guest-checkout {
    margin-top: 20px;
  }
  #edit-continue-button {
    border: none;
    text-transform: capitalize;
    font-size: 16px;
    padding: 0;

    &:hover, &:focus {
      color: $link-color;
      text-decoration: underline;
      background-color: $white;
    }
  }
}