.view-id-sponsorships {
  .views-row {
    @include clearfix;
    margin-bottom: 40px;

    .views-field-field-image {
      float: left;
      margin-right: $padding-large-horizontal;

      @media (max-width: $screen-sm-max) {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  
}